/* *{
    padding: 0%;
    margin: 0%;
} */

body{
    font-family: "Helvetica";
    color: darkslategray;
}

a{
    text-decoration: none;
    color: burlywood;
}

/* Pseudo clases */
/* p:first-child {
    color: pink;
}
p:last-child {
    color: brown;
} */
.pseudoClases > p:nth-child(2n){
    color: cadetblue;
}
.pseudoClases > p:nth-child(2n + 1){
    color: chartreuse;
}

/* Pseudo Elementos */
.pseudoElementos > p::first-letter{
    color: darkred;
    font-size: 20px;
}